* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    font-size: 100%;
}
.main {
    width: 70%;
    border: 1px solid rgb(191, 180, 180);
    border-radius: 10px;
    margin: 35px auto;
    position: relative;
    background-color: rgb(211, 217, 222);
    padding: 10px;
    z-index: 0;
}
.hide {
    opacity: 0.5;
    background-color: black;
}
.added {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    background-color: white;
}
.added:hover {
    background-color: gray;
    color: white;
}

.form {
    margin: auto;
    width: 30%;
    flex-direction: column;
    padding: 15px;
    display: none;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;

}
.active { 
    position: absolute;
    top: 50px;
    left: 35%;
    display: flex;
    z-index: 1;
}
.title {
    margin-bottom: 15px;
    padding: 0 25%;
    white-space: nowrap;
}
.label {
    margin-bottom: 10px;
    margin-top: 10px;
}
.field {
    padding: 3px 7px;
}
textarea {
    resize: none;
}
.container-btns {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}
.btns {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid;
    background-color: white;
}
.btns:hover {
    background-color: gray;
    color: white;
}
.cancel {
    margin-right: 18px;
}

.list {
    list-style-type: none;
    margin-top: 60px;
}
.li {
    border: solid black;
    margin-bottom: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: 1px solid black;
    position: relative;
}
.li:hover {
    outline: 1px solid rgb(121, 141, 224);
    border: none;
    padding: 12px;
    margin-bottom: 3px;
}
.btnsLi {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid;
    background-color: white;
}

.btnsLi:hover {
    outline: 2px solid rgb(121, 141, 224);
    background-color: white;
    border: none;
}
.added-descripiton {
    min-height: 100px;
}
.new-description {
    position: absolute;
    top: 60px;
    margin-left: 30px;
}
.new-window {
    display: none;
    position: absolute;
    margin: auto;
    width: 30%;
    flex-direction: column;
    padding: 15px;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    left: 35%;
    top: 20%
}
.open {
    display: block;
}
.delete-title {
    margin: 10px 0px;
}
.delete {
    margin-left: 10px;
}
